*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
*::selection{
    background-color: black;
    color: white;
}


#main{

    position: relative;
    overflow: hidden;
    background-color: #0A3CCE;
}
#page1{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    position: relative;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    /* background-color: yellow; */
    position: absolute;
    z-index: 10;
    padding: 45px 45px;

}
#page1>nav>img {
    /* position: absolute; */
    /* height: 100px; */
    width: 4%;
    margin-top: 10px;

}

#btn>button{
    text-transform: uppercase;
    padding:10px 20px ;
    border-radius: 50px;
    background-color: #0C46EC;
    color: white;
    border: 1px solid white;
    font-size: 11px;
}
#btn>button:hover{
    background-color: white;
    color: #0C46EC;
    transition: all ease 1s;
}
#main-txt{
    position: absolute;
    bottom:11%;
    left:15% ;
    height: 45vh;
    width: 40%;
    z-index: 10;
    /* background-color: red; */
}
#main-txt h1{
    font-size: 75px;
    color: white;
    font-weight: 400;
    line-height: 1;

}
#main-txt #bottom-page1-inner{
    height: 25vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: start;
    gap: 30px;
    padding: 8% 0;
    position: relative;
}
#bottom-page1-inner>p{
    color: white;
    font-size: 18px;
    line-height: 1.5;

}
#main-txt #bottom-page1-inner #tich{
    margin-top: 38px;
    margin-left: -19px;
    padding: 13px 35px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #0C46EC;
    cursor: pointer;
    border: none;
    z-index: 10;
}
#main-txt #bottom-page1-inner #tich:hover {
    background-color: black;
    color: white;
    transition: all ease-in 0.6s ;

}
#page2{
    height: 100vh;
    width: 100vw;
    background-color:#0A3CCE;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 0vw 10vw;
    gap: 30px;

}
#page2>p{
    font-size: 17px;
    font-weight: 400;
}

#page2>h1{
    width: 80%;
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 0%;
    font-weight: 300;
    color: #dadada69;
    /* color: #ffffff78; */

}
#page3{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
}
#page3>canvas{
    /* margin-top: -20px; */
max-height: 1000vh;
max-width: 100%;
position: relative;

}
#page4{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color:#0A3CCE;

    padding: 0px 9%;

}
#page5{
    transition: all ease-in;
}
#page4>h6{
   font-size: 17px;
   font-weight: 700;
   line-height:5;
   color: #fff;
}
#page4>h1{
    font-size: 52px;
    line-height: 1.5;
    font-weight: 100;
    color: #ffffffa7;
}
#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page5>canvas{
    position: relative;
    max-height: 1000vh;
    max-width: 100%;
}
#page6{
    position:relative;
    height:100vh;
    width: 100%;
    background-color:#0A3CCE;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:0 10% ;

}
#page6>h4{
    font-size: 15px;
    font-weight: 400;
    line-height:5;
    color: #fff;
    margin-top: -90px;
    margin-left: -54vw;
     margin-top: -95vh;

}
 #page6>h3 {
    font-size: 52px;
    line-height: 1.3;
    font-weight: 300;
    color: #ffffffa7;
}
#page7 {
    margin-top: -20px;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #0c3ed3;
}
#page7>canvas{
    margin-top: -27px;
    position: relative;
    max-height: 1000vh;
    max-width: 100vw;
}
.page7-cir{
    display: flex;
    align-items: center;
    justify-content: center;
    height:32vw;
    width:32vw ;
    /* background-color: red; */
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #ffffff46;

}
.page7-inner-cir{

    height: 65%;
    width: 65%;
    /* background-color: red; */
    border-radius: 50%;
    border: 1px solid #ffffff46 ;
}
#page8{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #0A3CCE;
}
#page8>video{

    height: 100%;
    width: 100%;
    object-fit: cover;
    /* perspective: 900; */
}
#page8-bottom{
    position: absolute;
    left: 50%;
    bottom: 12%;
   transform: translateX(-50%);
   text-align: center;
   z-index: 99;
}
#page8-bottom>h1{
    color: #fff;
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 4vh;
}
#page8-bottom>button{
    text-transform: uppercase;
   color:#1041d5c1;
   padding: 15px 40px;
   border-radius: 40px;
   border: 1px solid #0A3CCE ;
   cursor: pointer;
   transition: all ease 1s;
   /* transform-origin: bottom; */


}

#page8-bottom button:hover{
    color: #fff;
    background-color: #000000e7;
     transform: scale(1.2);
}
#page9{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color:#052C9E;
    position: relative;
}
.left9{
    position: relative;
    height: 100vh;
    width: 40%;
    /* background-color: red; */
}
.left9>h1{
    position: absolute;
    top: 40%;
    right: 20%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 500%;
    font-weight: 100;
   font-family: Arial, Helvetica, sans-serif;
}

.right9{
    position: relative;
    height: 100vh;
    width: 60%;
    /* background-color:pink; */
}
.right9-banner{
position: absolute;
top:28% ;
 right: 17%;
transform: translateY(-50px);
height: 70%;
width: 90%;
border-radius: 20px;
object-fit: cover;
background-image:url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg) ;
/* background-color: black; */
background-size: cover;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #052C9E;
}
#right10{
    position: relative;
    height: 100vh;
    width: 65%;
    left: 36%;
    /* background-color: maroon; */
}
.right10-inner{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding-top: 10px;
    height: 33.3%;
    width: 100%;
    color: #fff;
    /* background-color:magenta; */
}
.right10-inner>h1{
    font: 100;
    font-size: 20px;
    line-height: 1.7;
}
.right10-inner>p{
font-size: 20px;
line-height: 1.4;
font-weight: 100;
color: #ffffffc7;
}
#page11{
    height: 170vh;
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
}

#page11>h1{
    text-transform: uppercase;
    position:absolute;
    top: 13%;
    left:10%;
    font-weight: 600;
    font-family: sans-serif;
    font-size:52px;
    color: #000;
}
.page11-inner{
    display: flex;
    position: relative;
    top:25%;
    height:20%;
    width: 100%;
    margin-bottom: 2vw;
    /* background-color: green; */

}
.left11{
    position: relative;
    height: 100%;
    width: 40%;
    /* background-color: maroon; */
    left: 7%;
    transition: transform 0.3s ease;
    
}
.left11>img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border-radius: 30px;   
}
.left11>img:hover{
    transform: scale(1.1);

}
.right11{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    left:50%;
    height: 100%;
    width: 50%;
    /* background-color: magenta; */
}
.right11>h3{
    color:#000000ac;
    font-weight: 100;
    font-size: 12px;
    text-transform: uppercase;

}
.right11>h1{
    padding-top: 15px;
    color: #000;
    font-weight: 100;
}

#view-all>button{
    position: absolute;
    
    padding:10px 40px;
    border-radius: 20px;
    color:#052C9E;
    background-color: #fff;
    border: 1px solid #052C9E;
    z-index: 99;
    left: 48%;
    top: 95%;
    
}
#page12{
    height: 110vh;
    width: 100%;
    position: relative;
    background-color: #02268E;
   
}
.page12-inner{
    position: absolute;
    left: 50%;
    top: 28%;
}

.page12-inner>h1{
    font-size: 90px;
    font-weight: 10;
    color: #fff; 
    font-family: sans-serif;
} 
.page12-inner>p{
    margin-top: 27px;
    color: #ffffffa5;
    line-height: 1.5;
    font-size: 17px;
}
#page13{
    height: 70vh;
    width: 100%;
    background-color: #0F0F17;
    position: relative;
    color: #fff;
    padding: 8% 8%;
}

#page13>h1{
    font-size: 78px;
    font-weight: 100;
    font-family: monospace;
    line-height: 1;
}
#page13>button{
    text-transform: uppercase;
    padding: 15px 35px;
    border: none;
    border-radius: 30px;
    color: #fff;
    background-color: #0A3CCE;
    margin-top: 45px;
}

#page14{
    height: 70vh;
    width: 100%;
    background-color: #0F0F17;
    font-family: monospace;
    color: #fff;
    font-weight: 100;
    }
.page14-inner{
    position: relative;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0px 110px;
    height: 33.3%;
    width: 100%;
    border-top: .5px solid #ffffff3a;
    border-bottom: .5px solid #ffffff3a;
    /* background-color:greenyellow; */
    
}
.page14-inner>h1{
    z-index: 99;
    position: relative;
}
#arow{
    font-size: 38px;
    font-weight: 100;
    font-family: serif;
    z-index: 99;
    position: relative;
}
.center14{
    height: 0%;
    width: 100%;
    background-color: #052C9E;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .7s;
}
.page14-inner:hover .center14{
    height: 100%;
}

#page15{
    height: 60vh;
    width: 100%;
    background-color: #0F0F17;
    position: relative;
    transition: all ease .5s;
}
.page15-left1 {
    float: left; /* Float the left column to the left */
    width: 15%; /* Set the width to 50% of the container */
    padding: 5% 8%;
    line-height: 2.2;
    
}
.page15-left1 a{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.854);
    text-decoration: none;

}
.page15-left2 {
    float: left; /* Float the left column to the left */
    width: 15%; /* Set the width to 50% of the container */
    padding: 5% 8%;
    line-height: 2.2;
    text-wrap: nowrap;
    
}

.page15-left2 a{
    color: rgba(255, 255, 255, 0.854);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    
    
}
.page15-left1 a:hover,
.page15-left2 a:hover{
    text-decoration: underline;
    text-decoration-color:white;
}

.page15-right>form{
    color: white;
    position: absolute;
    top: 30%;
    left: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.page15-right>form>label{
    font-size: 40px;
    font-weight: 50;

    margin-bottom: 40px;
}
.page15-right>form>input {
    margin-bottom: 0px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    
  }
  input[type="email"]::placeholder {
    color:white; /* Set placeholder text color */
}